* {
    margin: o;
    padding:0;
    box-sizing: border-box;
}

#product-detail h2 {
    width: 80%;
    margin: 2rem auto;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #213C51;

}
h3 {
     color: #213C51;
}
img {
    width: 100%;
    border: 2px solid aqua;
    border-radius: 10px;
}
button {
     background-color: aqua;
    color: white;
    border: none;
    padding: 7px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 5px;
}

/*Description*/
.desc {
    margin: 2rem 0;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.desc h3 {
    text-align: center;
    font-size: 24px;
}

.desc p {
    font-size: 18px;
    color: gray;
    text-align: justify;
}

/*Specifications*/
.spec {
    margin: 2rem 0;
    padding: 1rem 2rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.spec h4 {
    text-align: center;
    font-size: 22px;
}

.spec ul {
    font-size: 18px;
    color: gray;
}

/* image slides*/
.slider {
    overflow:hidden;
}
.slider div {
    position: relative;
    width:500%;
    margin:0;
    left:0;
    animation: 20s slider infinite;
}
.slider div img {
    float:left;
    width: 20%;
}

/*Price and colors*/
.price {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.price p {
    font-weight: 600;
}

.old-price {
    background-color: red; 
    color: white;
    font-weight: 700;
    padding: 5px 12px;
    border-radius: 8px;
    text-decoration: line-through;
}

.color-options {
    display: flex;
}

.new-price {
    background-color: rgb(217, 215, 215);
    padding: 5px 12px;
    border-radius: 8px;
    font-weight: 700;
}

/*colors*/
.colors {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.colors h4 {
    font-size: 18px;
    font-weight: 600;
}

.blue {
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius:50%;
    margin: 2px;
}
.red {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius:50%;
    margin: 2px;
}
.orange {
    background-color: orange;
    border-radius:50%;
    margin: 2px;
    width: 40px;
    height: 40px;
}

/*sizes*/
.sizes {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sizes p {
    font-size: 18px;
    font-weight: 600;
}


/*slide animantion wasn't easy but we thank God*/
@keyframes slider {
    0%{
       left : 0; 
    }
    20% {
        left:0;
    }
    25% {
        left:-100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left:-200%;
    }
    70% {
        left: -200%
    }
    75% {
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100% {
        left:-400%
    }
}


/*.product details*/



.product {
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 2rem 0;
    border-radius:2rem;
    padding: 2rem;   
}
.product:hover {
    background-color: rgb(245, 240, 240)
}
.product .cart {
    position: relative;
    margin:0;

}
.product .cart i {
    position:absolute;
    right:0;
    bottom: 0;
    font-size:3rem;
    color:aqua;
}

