* {
    margin: o;
    padding:0;
    box-sizing: border-box;
}
h2 {
    text-align: center;
    color: #213C51;

}
h3 {
     color: #213C51;
}
img {
    width: 100%;
    border: 2px solid aqua;
    border-radius: 10px;
}
button {
     background-color: aqua;
    color: white;
    border: none;
    padding: 7px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 5px;
}

/* image slides*/
.slider {
    overflow:hidden;
}
.slider div {
    position: relative;
    width:500%;
    margin:0;
    left:0;
    animation: 20s slider infinite;
}
.slider div img {
    float:left;
    width: 20%;
}
del {
    color:white;
    background-color: red;
}


/*slide animantion wasn't easy but we thank God*/
@keyframes slider {
    0%{
       left : 0; 
    }
    20% {
        left:0;
    }
    25% {
        left:-100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left:-200%;
    }
    70% {
        left: -200%
    }
    75% {
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100% {
        left:-400%
    }
}


/*.product details*/



.product {
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 2rem 0;
    border-radius:2rem;
    padding: 2rem;   
}
.product:hover {
    background-color: black;
    color: aqua;
}
.product .cart {
    position: relative;
    margin:0;

}
.product .cart i {
    position:absolute;
    right:0;
    bottom: 0;
    font-size:4rem;
    font-weight:600;
    color:aqua;
}

